body, h1, h2, h3, h4, p, blockquote, ol, ul, img {
	margin:0;
	padding:0;
}

img {
	border:0;
}

html {
	width:100%;
	min-height:100%;

	background-color:#fff;
	background:-moz-linear-gradient(top, #fff, #f5eabf);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #f5eabf));
}

body {
	font-family:"Lucida Grande", verdana, sans-serif;
	font-size:12px;
	margin:0 20px;

	background:transparent url(images/shadow.png) no-repeat 50% 0;
}

body, a {
	color:#474747;
}

a:hover {
	text-decoration:none;
}

#content {
	position:relative;
	margin:0 auto 0 auto;
	padding:0 661px 0 0;
	width:425px;
	min-height:618px;
	background:url(images/macbook.png) no-repeat 100% 170px;
	text-align:right;
}

#header {
	padding-top:140px;
}

h1 {
	font-family:"Helvetica Neue", arial, helvetica, sans-serif;
	font-size:42px;
}

#header h1 img {
	position:relative;
	bottom:-8px;
}

#inner-row {
	position:relative;
	width:100%;
	border:1px solid #b7b7b7;
	border-right:0;
	border-left:0;
	padding:1px 0;
	margin:0 0 18px 0;
}

#inner-box {
	width:100%;
	background:#c6c4bf;
}

#appstore-badge {
	position:relative;
	right:50%;
	margin:17px -195px 14px 0;
}

a #appstore-badge:hover {
	opacity:0.8;
}
